body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: rgb(207, 187, 121);
}

.logo .gold-text {
    color: #FFFFFF;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:#FFFFFF;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar a {
    margin-left: 10px;
}
.search-bar a img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


.breadcrumb {
    padding: 10px;
    background-color: #f4f4f4;
}
.breadcrumb a {
    color: #000000;

}

.contact-container {
    display: flex;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
}
.phone-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-icon img {
    width: 30px;
    height: 30px;
}
.text {
    margin-left: 10px;
    font-size: 25px;
    color: black;
}
.container2 {
    display: flex;
    align-items: center;
}
.mail-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-icon img {
    width: 30px;
    height: 30px;
}
.text2 {
    margin-left: 10px;
    font-size: 25px;
    color: black;
}
.contact-info, .contact-form {
    flex: 1;
    margin: 10px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input, .contact-form form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form form button {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

footer .footer-section {
    flex: 1;
    margin: 10px;
}

footer .footer-section h3 {
    margin-top: 0;
    color:rgb(207,187,121)
}

footer .footer-section ul {
    list-style: none;
    padding: 0;
}

footer .footer-section ul li a {
    text-decoration: none;
    color: white;
}

footer .footer-section .app-links a img {
    width: 120px;
    margin: 5px;
}
